{% extends "base.html" %}
{% block content %}
    <div class="col-md-12">
        <form action="" method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ресурсов на работы/Добавление</h3>
                </div>
                <div class="panel-body">
                    {{ form.as_p }}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                </div>
                <div class="panel-footer">
                    <a href="{% url 'bpwork-add' %}">
                        <button type="button" class="btn btn-info ">+ Работа БП</button>
                    </a>
                    <a href="{% url 'resource-add' %}">
                        <button type="button" class="btn btn-info">+ Ресурс</button>
                    </a>
                    <a href="{% url 'wresource-list' %}">
                        <button type="button" class="btn btn-danger col-md-offset-6">Отменить</button>
                    </a>
                    <button type="submit" class="btn btn-primary ">Добавить</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}