{% extends "base.html" %}
{% block content %}
    <div class="col-md-12">
        <form action="" method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ресурсов на работы/Список</h3>
                </div>
                <div class="panel-body">
                    {% if wresources %}
                        <ul class="list-unstyled list-group">
                            {% for wresource in wresources %}
                                <li class="list-group-item">
                                    {{ wresource.resource }} {{ wresource.work }}

                                    <a class="btn btn-default btn-xs compon_glyphicon"
                                       href="{% url 'wresource-delete' wresource.id %}">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>

                                    <a class="btn btn-default btn-xs compon_glyphicon"
                                       href="{% url 'wresource-edit' wresource.id %}">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>

                                    <span class="badge badge_pos">{{ wresource.id }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>There are no work resource in the app.</p>
                    {% endif %}
                </div>
                <div class="panel-footer">
                    <a href="{% url 'wresource-add' %}">
                        <button type="button" class="btn btn-info">Добавить</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

