{% extends "base.html" %}
{% block content %}
    <div class="col-md-12">
        <form action="" method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ресурсы/Список</h3>
                </div>
                <div class="panel-body">
                    {% if resources %}
                        <ul class="list-unstyled list-group">
                            {% for resource in resources %}
                                <li class="list-group-item">
                                    <a href="{% url 'resource-detail' resource.id %}">{{ resource.name }}</a>
                                    <a class="btn btn-default btn-xs compon_glyphicon"
                                       href="{% url 'resource-delete' resource.id %}">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                    <a class="btn btn-default btn-xs compon_glyphicon"
                                       href="{% url 'resource-edit' resource.id %}">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    <span class="badge badge_pos">{{ resource.id }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>There are no resource in the app.</p>
                    {% endif %}
                </div>
                <div class="panel-footer">
                    <a href="{% url 'resource-add' %}">
                        <button type="button" class="btn btn-info">Добавить</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}