{% extends "base.html" %}
{% block content %}
    <h1>{{ bp.name }}</h1>
    <p><strong>Стоимость: </strong> {{ bp.cost_plan }}</p>
    <p><strong>Относительная важность: </strong> {{ bp.relative_important }}</p>
{% endblock %}