{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Django</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Добавление дополнительного статического CSS файла -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="script" href="{% static 'js/script.js' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div class="row">
    <!-- Menu -->
    <div class="side-menu">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <div class="brand-wrapper">
                    <!-- Brand -->
                    <div class="brand-name-wrapper">
                        <a class="navbar-brand" href="{% url 'index' %}">
                            App
                        </a>
                    </div>

                    <!-- Search -->
                    <a data-toggle="collapse" href="#search" class="btn btn-default" id="search-trigger">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>

                    <!-- Search body -->
                    <div id="search" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form class="navbar-form" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Поиск">
                                </div>
                                <button type="submit" class="btn btn-default "><span
                                        class="glyphicon glyphicon-ok"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main Menu -->
            <div class="side-menu-container">
                <ul class="nav navbar-nav">
                    <li class="panel panel-default" id="dropdown"><a data-toggle="collapse" href="#dropdown-lvl0"> <span
                            class="glyphicon glyphicon-home"></span>Предприятия<span class="caret"></span></a>
                        <div id="dropdown-lvl0" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="{% url 'enterprise-list' %}">Список предприятий</a></li>
                                    <li><a href="{% url 'department-list' %}">Отделы</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- Dropdown-->
                    <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" href="#dropdown-lvl1"> <span class="glyphicon glyphicon-user"></span>
                            Сотрудники<span class="caret"></span>
                        </a>
                        <div id="dropdown-lvl1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="{% url 'employee-list' %}">Список сотрудников</a></li>
                                    <li><a href="{% url 'position-list' %}">Должности</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="panel panel-default" id="dropdown"><a data-toggle="collapse" href="#dropdown-lvl2"> <span
                            class="glyphicon glyphicon-list-alt"></span>Бизнес-процессы<span class="caret"></span></a>
                        <div id="dropdown-lvl2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="{% url 'bp-list' %}">Список бизнес-процессов</a></li>
                                    <li><a href="{% url 'bpwork-list' %}">Работы бизнес-процессов</a></li>
                                    <li><a href="{% url 'bpgroup-list' %}">Группы бизнес-процессов</a></li>
                                    <li><a href="{% url 'procexec-list' %}">Исполнители бизнес-процессов</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="#"><span class="glyphicon glyphicon-stats"></span>Анализ</a></li>
                    <li class="panel panel-default" id="dropdown"><a data-toggle="collapse" href="#dropdown-lvl3"> <span
                            class="glyphicon glyphicon-list-alt"></span>Стрелки работ<span class="caret"></span></a>
                        <div id="dropdown-lvl3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="{% url 'atype-list' %}">Список типов стрелок</a></li>
                                    <li><a href="{% url 'arrowgloss-list' %}">Глоссарий стрелок</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="panel panel-default" id="dropdown"><a data-toggle="collapse" href="#dropdown-lvl4"> <span
                            class="glyphicon glyphicon-list-alt"></span>Ресурсы<span class="caret"></span></a>
                        <div id="dropdown-lvl4" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="{% url 'resource-list' %}">Список ресурсов</a></li>
                                    <li><a href="{% url 'tresource-list' %}">Типы ресурсов</a></li>
                                    <li><a href="{% url 'mscale-list' %}">Шкалы измерений</a></li>
                                    <li><a href="{% url 'unitm-list' %}">Единицы измерений</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    {#                    <li class="active"><a href="#"><span class="glyphicon glyphicon-plane"></span> Active Link</a></li>#}
                </ul>
            </div>
        </nav>
    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
            <div class="col-sm-10 ">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
