{% extends "base.html" %}
{% block content %}
    <div class="col-md-12">
        <form action="" method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Работы бизнес-процессов/Список</h3>
                </div>
                <div class="panel-body">
                    {% if bpworks %}
                        <ul class="list-unstyled list-group">
                            {% for bpwork in bpworks %}
                                <li class="list-group-item">
                                    <a href="#">{{ bpwork.name }}</a>
                                    <a class="btn btn-default btn-xs compon_glyphicon"
                                       href="{% url 'bpwork-delete' bpwork.id %}">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                    <a class="btn btn-default btn-xs compon_glyphicon"
                                       href="{% url 'bpwork-edit' bpwork.id %}">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    <span class="badge badge_pos">{{ bpwork.id }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>There are no work business process group in the app.</p>
                    {% endif %}
                </div>
                <div class="panel-footer">
                    <a href="{% url 'bpwork-add' %}">
                        <button type="button" class="btn btn-info">Добавить</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}